<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="WordPress" namespace="WordPressCS\WordPress" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/squizlabs/PHP_CodeSniffer/master/phpcs.xsd">
	<description>Default WordPress Coding Standards</description>

	<!-- Lint all PHP files in the project directory by default. -->
	<file>.</file>

 	<rule ref="WordPress"/>
	<rule ref="PHPCompatibilityWP"/>

	<exclude-pattern>*/node_modules/*</exclude-pattern>
</ruleset>
